{% extends 'base.html' %}
{% block title %}
Marketplace

{% endblock title %}
{% block content %}
 <table class="table table-dark table-striped table-hover">
        <thead>

            <tr>

                <th>Product name</th>
                <th>Product barcode</th>
                <th>Product price</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            {% for product in name %}

            <tr>
                <td>{{product.name}}</td>
                <td>{{product.barcode}}</td>
                <td>{{product.price}}</td>
                <td>
                    <button class="btn btn-outline btn-info">More info</button>
                    <button class="btn btn-outline btn-success">Purchase</button>
                </td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock content %}